<!DOCTYPE html>

<html>


<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather.png">
</head>

<body>
    
    <div class="main-content">


        {{>header}}
        <p>This website was created by Sheikh Wasif. It uses mapbox.com and darksky.com to retrieve data to forecast weather.</p>
        <img class="portrait" src="./img/cpy609A2578.png" alt="">
        
    </div>


    {{>footer}}
</body>


</html>

